body{
  background-color: rgb(186, 191, 252);
  border-style: solid black;
  border-width: 10px;
}
h1{
  color: rgb(39, 0, 74);
  text-align: center; 
}
.projects{
  display:flex;
  flex-wrap:wrap;
}
.project h2{
  width: 100%
}
.project{
  width: 10%;
  margin: 10px;
  Padding: 20px 10px;
  background: rgb(32, 37, 49);
  border-radius: 5%;
}
.project img{
  width: 300px;
  height: 300px;
  margin: 10px auto;
  border: 2px solid rgb(217, 178, 48);
  display: block;
  text-align: center;
}
.project p{
  text-align: center;
  margin: 15px;
}