body{
	background: #E0DFD5;
  border: 25px solid #EF6461;
  border-radius: 5%;
  padding: 0px 50px;
	font-family: Georgia, Times, "Times New Roman", serif;
}
h1{
	color: #Ef6461;
	text-align: center;
  font-family: Verdana, Geneva, sans-serif;
}
.projects{ 
    /* make the blobs float side-by-side */
	display:flex; 
	flex-wrap:wrap;  
} 
h2{
  color: #313638;
    /* display the h2 on its own line, not with the section blobs */
	width: 100%;
  font-family: Verdana, Geneva, sans-serif;
}
.project{
    /* form the section blobs */
    width: 35%;
    margin: 5px;
    padding: 10px 0px;
    background: #E4B363;
    /* rounded corners for the blobs */
    border-radius: 5%;
}
.project h3{
    /* pull the h3 text away from the left blob wall */
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
}
.project img{
    /* adjust your image sizes as needed */
    width: 300px;
    height: 150px;
    margin: 10px auto;
    border: 5px solid #EF6461;
    display: block;
    /* center the images inside the blobs */
    text-align: center;
    border-radius: 1%;
}
.project p{
    /* center the p text in the blob */
    text-align: center;
    margin: 15px;
}