body{
  background-color: rgb(186, 191, 252);
  border-style: solid;
  border-width: 5px;
}
h1{
  color: rgb(39, 0, 74);
  text-align: center; 
}
h2{
  color: rgb(39, 0, 74);
  text-align: center;
}
img{
  float: center;
  border-radius: 5px;
}